<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include navbar %>

	<div class="container">
		<div class="page-header">
			<h1>
			</br>
				About
			</h1>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">How to use</div>
			<div class="panel-body">
				<p>This website uses the MBTA's public API in order to answer the question I always have when I need to leave for the train in the morning "When is the next train and when do I need to leave?".  I found other apps were difficult to use to answer that question so I built my own.  I hope you enjoy and find this application helpful in your travels into and out of Boston.  </p>
				<p>This website is hosted by a third party and uses a public development key and therefore may be down or inaccurate at any time.  </p>


			</div>
		</div>

		<hr>

	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#about').addClass("active");
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
